.title-container{
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title{
    font-family: 'Aquire','arial','serif';
    font-weight: 800;
    font-size: 5.4rem;

    /* color: #FFF8B5; */
    background: -webkit-linear-gradient(#B5FF7D, #FFF8B5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.home-title > span {
    font-weight: 950;
    border: 1px solid #B5FF7D;
    padding: 10px;
}

@media (max-width: 700px) {

    .home-title{
        
        font-size: 2.2rem;
        
    }
    
}

@media (min-width: 1200px) {


    .earth-title{
        background: -webkit-linear-gradient(#00AD7C, #045941);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    
}