.home-page {
  height: 90.5vh;
  width: 100%;
  font-family: "sohne", "arial", "monospace";
  background: #1d976c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #93f9b9,
    #1d976c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #93f9b9,
    #1d976c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.announcement{
    
    background: -webkit-linear-gradient(#00AD7C, #0e4b3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}